@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: whitesmoke;
    width: 100vw;
    margin: 0;
    font-family: 'Montserrat';
    color: #212529;
}

.image-header {
    height: 30vh;
    width: 100%;
}

.image-header img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.container {
    display: flex;
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    font-family: 'Merriweather';
}

#headings h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 60%;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 2px solid #dee2e6;
}

button {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 2px outset #212529;
    background-color: #212529;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #124559;
    color: white;
}

.aside {
    width: 40vw;
    height: 100vh;
    overflow-y: auto;
}

h3 {
    text-align: center;
}

/* .aside img {
    width: 100%;
    height: 15%;
    object-fit: cover;
} */

.delete,
.edit {
    width: 25%;
    margin: 2px;
    padding: 2px;
    font-size: 12px;
    border: 1px solid #212529;
}

#delete-modal,
#edit-modal {
    border: 2px solid #212529;
    background-color: whitesmoke;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

#confirm-delete,
#confirm-edit {
    margin-left: 15px;
}

#confirm-delete,
#confirm-edit,
#cancel-delete,
#cancel-edit {
    width: 45%;
    margin-bottom: 10px;
}

#textEdit {
    width: 90%;
    height: 10rem;
}

#titleEdit {
    width: 90%;
}

.display-none {
    display: none;
}


@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    #headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        font-family: 'Merriweather';
    }

    #headings h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 34px;
    }

    .form {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .aside {
        width: 100vw;
    }
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    #headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        font-family: 'Merriweather';
    }

    #headings h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 34px;
    }

    .form {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .aside {
        width: 100vw;
    }

    .card-body {
        padding: 30px;
    }

    .card-body p {
        text-align: justify;
    }
}